{% extends 'default.html' %}

    {% block content %}
    <style>
        .nav-button {
            padding: 40px 40px;
            margin: 10px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 32px;
        }
    </style>
        <nav>
        <button class="nav-button" onclick="location.href='http://127.0.0.1:8000/admin'">Админка</button>
        <button class="nav-button" onclick="location.href='http://127.0.0.1:8000/news'">Новости</button>
        <button class="nav-button" onclick="location.href='http://127.0.0.1:8000/news/create'">Создание новостей</button>
        <button class="nav-button" onclick="location.href='http://127.0.0.1:8000/news/search'">Поиск новостей</button>
    </nav>

    {% endblock %}

