<!DOCTYPE html>
<html>
<head>
    <title>Создать новость</title>
</head>
<body>
    <h1>Создать новость</h1>


    {% if perms.djangoproject.change_product or perms.djangoproject.delete_product %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Создать</button>
        </form>
    {% else %}

        <p>У вас нет прав для создания новости.</p>
    {% endif %}


    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>