{% extends 'default.html' %}
{% load custom_filters %}


{% block content %}
{% if news %}
<link rel="stylesheet" href="styles.css">
<h1>News List</h1>
<ul>
    {% for article in news %}
    <li>
        <h2>{{ article.title }}</h2>
        <p>{{ article.category }}</p>
        <p>{{ article.content|slice:":20"|censor }}</p>
        <p>Дата публикации: {{ article.date_published }}</p>
    </li>
    {% endfor %}
</ul>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{% if page_obj.has_previous or page_obj.has_next %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

            {{ page_obj.number }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                    ...
                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
